/*
 * This is a manifest file that'll be compiled into application.tailwind.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*@import "tailwindcss/preflight";*/

.circle {
    width: 1.25rem;
    height: 1.25em;
    border-radius: 9999px;
    transform: scale(0.5);
    opacity: 0;
    transition: all 300ms ease;
    cursor: pointer;
}

.circle.show {
    transform: scale(1);
    opacity: 1;
}